* {
    padding: 0;
    margin: 0;
    
}

#snake {
    display: flex;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}